.content {
  background: #fdfdfd!important;
}

.dashboardContainer {
  margin-top: 30px!important;
  padding-top: 32px!important;
  height: 490px!important;
  min-width: 900px!important;
}

.inlineBlockHeader {
  text-indent: 20px;
  display: inline-block;
  color: grey;
}

.plusIcon {
  position: relative;
  bottom: 4px;
  left: 3px;
  color: #6584c1;
  cursor: pointer;
}

.header {
  color: grey!important;
}

.ui.card:first-child {
  margin-top: 46px!important;
}

.ui.styled.accordion .accordion .title:first-child, .ui.styled.accordion>.title:first-child {
    margin-top: 47px!important;
}

.highcharts-credits { display: none }
